<?xml version="1.0"?>
<!--
/**
 * Gos_Tradein extension
 *                     NOTICE OF LICENSE
 * 
 *                     This source file is subject to the MIT License
 *                     that is bundled with this package in the file LICENSE.txt.
 *                     It is also available through the world-wide-web at this URL:
 *                     http://opensource.org/licenses/mit-license.php
 * 
 *                     @category  Gos
 *                     @package   Gos_Tradein
 *                     @copyright Copyright (c) 2017
 *                     @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Gos_Tradein::tradein" title="Trade In" module="Gos_Tradein" sortOrder="18" resource="Gos_Tradein::tradein" parent="Magento_Sales::sales"/>
        <add id="Gos_Tradein::tradeins" title="Vehicle Information" module="Gos_Tradein" sortOrder="10" action="gos_tradein/tradein" resource="Gos_Tradein::tradein" parent="Gos_Tradein::tradein"/>
    </menu>
</config>
