<?xml version="1.0"?>
<!--
/**
 * Gos Checkout
 * Author: Nhan Nguyen
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Model\DefaultConfigProvider" type="Gos\Checkout\Model\DefaultConfigProvider" />
</config>